* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
.container {
    min-width: 100%;
    margin: auto;
    position: relative;
    background-color: #ffffff;
}

h3{
    text-align: center;
}
.btn{
background-color:rgb(23, 179, 191);


}

    

h5.card-title{
color:rgb(25, 142, 51)
}
.card-img-top{
    width: 100px;
        height: 100px;
        position:relative;
        margin-left: auto;
    margin-right: auto;
}
.aset1{
    
    width: 600px;
    height: 400px;
    position:relative;
    margin-right: 3px;
    margin-left: 3px;
    
}
.card-title1{
    float:left;
    
}
.card-text1{
    float:left;
}
.aset2{
    width: 140px;
    height: 30px;
}
.aset4{
    width: 600px;
    height: 600px;
    position:relative;
    margin-right: 3px;
    margin-left: 3px;
}
h3.card-title1{
    color:rgb(23, 179, 191)
}
ul {
    list-style: none;
}

.footer {
    background-image: linear-gradient(#22577a, #38a3a5);
    padding: 70px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color:transparent;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }

}
.navbar{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;;
    height: 100px;
}
.container
{
    position: relative;
    height: 100%;
    width: 50%;
}





    


